In [1]:
from process_neo_json import spark, schema, process_neo_json

25/05/21 23:03:36 WARN Utils: Your hostname, newlife resolves to a loopback address: 127.0.1.1; using 192.168.122.1 instead (on interface virbr0)
25/05/21 23:03:36 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/21 23:03:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/05/21 23:03:53 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [4]:
spark.sql("""
CREATE DATABASE IF NOT EXISTS neo;
"""
         )

DataFrame[]

In [6]:
spark.sql("""
CREATE TABLE IF NOT EXISTS neo.silver (
    observation_date DATE,
    asteroid_id VARCHAR(255),
    neo_reference_id VARCHAR(255),
    name VARCHAR(500),
    nasa_jpl_url VARCHAR(1000),
    absolute_magnitude_h DOUBLE,
    diameter_min_km DOUBLE,
    diameter_max_km DOUBLE,
    is_potentially_hazardous_asteroid BOOLEAN,
    is_sentry_object BOOLEAN,
    close_approach_date DATE,
    close_approach_date_full VARCHAR(100),
    epoch_date_close_approach BIGINT,
    velocity_km_s DOUBLE,
    velocity_kph DOUBLE,
    velocity_mph DOUBLE,
    miss_distance_au DOUBLE,
    miss_distance_ld DOUBLE,
    miss_distance_km DOUBLE,
    miss_distance_mi DOUBLE,
    orbiting_body VARCHAR(50)
)
;
"""
         )

25/05/21 23:08:37 WARN ResolveSessionCatalog: A Hive serde table will be created as there is no table provider specified. You can set spark.sql.legacy.createHiveTableByDefault to false so that native data source table will be created instead.

AnalysisException: [NOT_SUPPORTED_COMMAND_WITHOUT_HIVE_SUPPORT] CREATE Hive TABLE (AS SELECT) is not supported, if you want to enable it, please set "spark.sql.catalogImplementation" to "hive".;
'CreateTable `spark_catalog`.`neo`.`silver`, org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe, Ignore

In [ ]:
df = spark.createDataFrame(data, schema)
df.writeTo("neo.silver").append()