In [3]:
from src.process_neo_json import spark, schema, process_neo_json

ModuleNotFoundError: No module named 'src'

In [ ]:
spark.sql("""
CREATE DATABASE IF NOT EXISTS neo;
"""
         )

In [ ]:
spark.sql("""
CREATE TABLE IF NOT EXISTS neo.silver (
    observation_date DATE,
    asteroid_id VARCHAR(255),
    neo_reference_id VARCHAR(255),
    name VARCHAR(500),
    nasa_jpl_url VARCHAR(1000),
    absolute_magnitude_h DOUBLE,
    diameter_min_km DOUBLE,
    diameter_max_km DOUBLE,
    is_potentially_hazardous_asteroid BOOLEAN,
    is_sentry_object BOOLEAN,
    close_approach_date DATE,
    close_approach_date_full VARCHAR(100),
    epoch_date_close_approach BIGINT,
    velocity_km_s DOUBLE,
    velocity_kph DOUBLE,
    velocity_mph DOUBLE,
    miss_distance_au DOUBLE,
    miss_distance_ld DOUBLE,
    miss_distance_km DOUBLE,
    miss_distance_mi DOUBLE,
    orbiting_body VARCHAR(50)
)
;
USING ICEBERG
"""
         )

In [ ]:
df = spark.createDataFrame(data, schema)
df.writeTo("neo.silver").append()